/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.directors-list {
	border-radius: 8px;
	margin-top: 20px;
}

.directors-header {
	color: #293C5C;
	background-color: #f0f4f8;
	text-transform: uppercase;
	font-size: 16px;
	margin: 24px 0;
	padding: 12px;
}

.directors-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 52px;
}
.director-item {
	width: 200px;
}

.director-name {
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: #293C5C;
}
.border-bottom-light{
	padding-bottom: 12px;
	border-bottom: 1px solid #CBCBCB;
}
.hidden{
	display: none;
}
.director-description {
	text-decoration: none;
	color: #838083;
	font-weight: 300;

}
